doctype html

html
	head
		title Exercise Tracker
		meta(charset='utf-8')
		meta(name='description' content='journal page exercise tracker')
		meta(http-equiv='X-UA-Compatible', content='IE-edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src="https://momentjs.com/downloads/moment-with-locales.js")
		
	body
		header Exercise Journal
		
		include includes/navbar.pug
		
		p Showing at most 20 entries
		
		for n, i in exercise_data
			div.entry
				p=n.description
				p=moment(n.date).format('MM/DD/YYYY')
				if n.duration >= 3600
					p=moment(n.duration).format('HH hours, mm minutes, ss seconds')
				else if n.duration >= 60
					p=moment(n.duration).format('mm minutes, ss seconds')
				else
					p=moment(n.duration).format('ss seconds')	

		div add pagination